/* styles/styles.module.css */
.blogContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.leftColumn {
  width: 60%;
  background-color: blue; /* Add red background */
}

.contentDiv {
  height: 100px; /* Adjust the height as needed */
  background-color: red;
}

.rightColumnContainer {
  gap: 1rem;
  width: 35%;
}

.content {
  align-items: start;
}
.rightColumn {
  position: sticky;
  top: 0;
  background-color: rgb(228, 209, 209);
  /* height: auto; */
}
